
test(color= red)
	border 1px solid color
	box-sizing border-box

// @import 'nib'
@import "card/style.styl"
@import "layout/style.styl"
@import "status/style.styl"
@import "phases/styles.styl"
@import "battle/style.styl"

body
	margin 0
	font-family Arial
	font-size 16px
